@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
html{
	background-image: url(../images/1383836332_pogruzchik-kolesnyy-frontalnyy-jcb-427-ht.jpg);
	background-position: center 0%;
	background-attachment:fixed;
	background-size:cover;
}
header{
	background-color: dimgray;
	padding-top:0.75%;
	padding-bottom:0.5%;
	padding-left:0px;
	padding-right:0px;
	width:auto;
	position:absolute;
	top:0px;
	left:0px;
	display:flex;
	
}
.text{
	font-family: 'Exo 2', sans-serif;
	font-size:xx-large;
	position:absolute;
	padding-left:3%;
	padding-right:3%;
	top:35%;
	color:white;
	
	
	
}
header
a
img{
	
	border-color:darkslategray;
	border-style:outset;
	border-width:10px;
	
}
nav 
a{
	text-decoration:none;
	display:block;
	transition: .3s block;
		
}
nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
.TOP > li{
	display:inline-block;
	position:relative;
	
	
}
.TOP>li>a{
	font-weight:bold;
	padding:20px 30px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:white;
}
.TOP .active, .TOP>li>a:hover,.SUB li a:hover{
	color:violet;}
.SUB{
	position:absolute;
	left:-1px;
	z-index:5;
	width:240px;
	border-bottom:1px solid #ECF1F2;
	visibility:hidden;
	opacity:0;
	transform: translateY(10px);
	transition:.3s ease-in-out;
}
.SUB li {position: relative;}
.SUB a{
	background:white;
	border:1px solid #ECF1F2;
	color:#1c1c1c;
	text-align:left;
	font-size:14px;
	letter-spacing:1px;
	padding: 0px 20px;
}
nav li:hover>.SUB{
	visibility:visible;
	opacity:1;
	transform:translatey(10px);
	transition:.3s linear;
}
#left{
	text-align:left;
	
}
#right{
	text-align:right;

}

